# 주어진 Series에서 가장 큰 값을 찾는 프로그램 만들기

In [1]:
import pandas as pd

def find_max(series):
  max_value = series.max()
  return max_value

# Series 생성
data = {'A': [10, 2, 33, 14, 25]}
series = pd.Series(data['A'])

# 함수 호출
max_value = find_max(series)
print('가장 큰 값:', max_value)

가장 큰 값: 33

# 두 개의 Series를 합쳤을 때, 중복되는 값을 모두 제거하는 프로그램 만들기

In [3]:
import pandas as pd

def merge_remove_dupl(series1, series2):
  merged_series = pd.concat([series1, series2]) # 두 Series를 합침
  merged_unique_series = merged_series.drop_duplicates() # 중복되는 값 제거
  return merged_unique_series

# Series 생성
data1 = [1, 2, 3]
data2 = [2, 3, 4, 5]
series1 = pd.Series(data1)
series2 = pd.Series(data2)

# 함수 호출
result = merge_remove_dupl(series1, series2)
print('중복이 제거된 합친 Series')
print(result)

중복이 제거된 합친 Series
0    1
1    2
2    3
2    4
3    5
dtype: int64

# Dataframe에서 누락된 값의 개수를 계산하는 프로그램 만들기

In [7]:
from numpy._core.defchararray import count
import pandas as pd

def count_missing_values(df):
  missing_count = df.isnull().sum().sum()
  return missing_count

# dataframe 생성
data = {'A': [1, 2, None, 4, 5],
        'B': [None, 2, 3, None, 5],
        'C': [1, 2, 3, 4, None]}
df = pd.DataFrame(data)

# 함수 호출
missing_count = count_missing_values(df)
print(missing_count)
print('누락된 값의 개수:', missing_count)

4
누락된 값의 개수: 4

- `isnull()`: 관측치가 결측이면 True, 결측이 아니면 False 반환
- `isnull().sum()`: 컬럼별 결측치 개수 합
- `isnull().sum().sum()`: **df.isnull().sum()** 의 결과로 나온 각 열의 결측치 개수들을 모두 더하여 데이터프레임 전체의 결측치 총합을 반환

# 두 개의 DataFrame을 결합하여 특정 열을 기준으로 조인하는 프로그램 만들기

In [9]:
import pandas as pd

def join_dataframes(df1, df2, column):
  joined_df = pd.merge(df1, df2, on = column)
  return joined_df

data1 = {'ID': [1, 2, 3],
         'Name': ['Ki-Hwan', 'Gil-Dong', 'Hong-Cheol']}
data2 = {'ID': [2, 3, 4],
         'Age': [25, 30, 35]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# 함수 호출
joined_df = join_dataframes(df1, df2, 'ID')
print('조인된 DataFrame:')
print(joined_df)

조인된 DataFrame:
   ID        Name  Age
0   2    Gil-Dong   25
1   3  Hong-Cheol   30